/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/net
/src/minecraft/cpw
/src/minecraft/ibxm
/src/minecraft/paulscode
/src/minecraft/assets/forge

*.bat
*.sh
*.exe
*.pl
